html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
 img {
     max-width: 100%;
 }

 .breadcrumb li a {
     color:black;
     text-decoration: underline;
 }

#lightgallery a {
    max-width: 23%;
    padding: 1%;
    margin: 3px 0;
    display: inline-block;
    text-align: center;
}

#user-list a {
    color: black;
    font-weight: bold;
}

#lightgallery a img {
    max-width: 100%;
}

.mySlides img {
    max-height: 800px;
}

.container .w25 {
    width: 25%;
    max-width: 25%;
}

.container .w25 img {
    max-width: 100%;
}

.container .w70 {
    width: 70%;
}

.container .w45 {
    width: 45%;
}

.portfolio-item {
    width: 23%;
    margin: 1%;
    height: 150px;
    text-align: center;
}

.links .item {
    padding: 10px 10px 10px 0;
    vertical-align: middle;
}

.links .item img {
    position: relative;
}

.links {
    margin-top: 30px;
}

.portfolio-item img {
    max-width: 100%;
    max-height: 150px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
html, body {
    height: 100%;
}
#gallery-wrap #left-wrap:hover,
#gallery-wrap #right-wrap:hover,
#gallery-wrap #close-wrap:hover{
    cursor:pointer;
}
#gallery-wrap #left-wrap,
#gallery-wrap #right-wrap,
#gallery-wrap #close-wrap{
    position:absolute;
    background: gray;
    border:1px solid black;
    border-radius: 5px;
}
#gallery-wrap #left-wrap,
#gallery-wrap #right-wrap {
    top:50%;
    width:41px;
    height:41px;
}
#gallery-wrap #close-wrap{
    position:absolute;
    right:10px;
    top:10px;
    width:41px;
    height:41px;
}
#gallery-wrap #left-wrap{
    left:10px;
}
#gallery-wrap #right-wrap{
    right:10px;
}
#gallery-wrap #left {
    background: url("../images/controls.png") 7px -20px no-repeat;
    width:41px;
    height:41px;
}
#gallery-wrap #right {
    background: url("../images/controls.png") 9px -58px no-repeat;
    width:41px;
    height:41px;

}
#gallery-wrap #close {
    background: url("../images/controls.png") 0px 0px no-repeat;
    width:19px;
    height:19px;
    position: relative;
    top:11px;
    left:9px;
}
#gallery-wrap #description > div {
    color:white !important;
}
#logo {
    position: relative;
    top: 15px;
}

.footer {
    background: #333333;
    height: 50px;
    position: relative;
    top: 10px;
}

#gallery-wrap {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: 999999;
    display: none;
}

#gallery-wrap #controls {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

#gallery-wrap img {
    max-width: 1200px;
    max-height: 90%;
}

#gallery-wrap #image,
#gallery-wrap #description {
    text-align: center;
}

#gallery-wrap #description {
    color: white;
    padding-top: 20px;
}

.overflow-hidden {
    overflow: hidden;
}

.h1 {
    padding-top: 50px;
}

.post-image-block {
    text-align: center;
    padding-top: 50px;
}

.post-content {
    padding-top: 50px;
    padding-left: 200px;
}

.post-content img {
    position: relative;
    left: -200px;
}

.deadline {
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

#lightgallery .author {
    color: red;
    text-decoration: underline;
}

.gallery-image {
    display: block;
    float: left;
    visibility: hidden;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative;
}

.competition-image-info {
    text-align: center;
}

.competition-image:hover {
    text-decoration: none;
}

.left {
    float: left;
}
.right{
    float:right;
}

.clear {
    clear: both;
}

#index-page-news .item {
    border: 1px solid #cecece;
    width: 33%;
}

#index-page-news .item .image {
    height: 255px;
    overflow: hidden;
}

#index-page-news .item img {
    max-height: 250px;
}

.created_at {
    color: gray;
}

.title {
    font-weight: bold;
}

.mini-block-wrap {
    padding: 10px 20px;
}

#index-page-news {
    position: relative;
}

#index-page-news .banner,
#index-page-ad .banner,
#index-page-articles .banner,
#users .banner,
#competitions .banner{
    position: absolute;
    top: 1px;
    left: 1px;
    background: black;
    color: rgb(250, 50, 70);
    padding: 5px 10px;
    z-index: 999;
}

#index-page-news a {
    text-decoration: none;
    color: black;
}

#index-page-news .read-more,
#index-page-ad .read-more,
#index-page-articles .read-more {
    color: rgb(250, 50, 70);
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

#index-page-ad, #competitions {
    position: relative;
}

#index-page-ad .item {
    border: 1px solid gray;
    width: 100%;
    padding: 20px 20px 20px 370px;
}

#index-page-ad a {
    color: black;
}

#index-page-ad a:hover {
    text-decoration: none;
}

#index-page-ad .title {
    font-size: 38px;
}

#index-page-articles .item {
    width: 50%;
    border: 1px solid gray;
}

#index-page-articles .item .image {
    height: 405px;
    overflow: hidden;
}

#index-page-articles .item img {
    max-height: 400px;
}
#article-title-wrap {
    color: black;
    font-weight: bold;
}
#index-page-articles{
    position:relative;
}

.author-link {
    color: rgb(250, 50, 70);
    text-decoration: underline;
}

#index-page-news,
#index-page-articles {
    visibility: hidden;
}
.read-more-block{
    position: absolute;
    bottom:10px;
}
#users .item{
    width:25%;
    height:200px;
    text-align: center;
}
#users img{
    max-height: 100px;
}
#users {
    padding-top:60px;
}
#users #first-last-name {
    font-weight:bold;
    color: rgb(250, 50, 70);
    text-decoration: underline;
}
.user-avatar{
    border-radius: 50%;
    overflow: hidden;
}
#users, .competition-info {
    position:relative;
}
.competition-image img {
    min-width:100%;
}
.competition-info-inner {
    position: absolute;
    top:10%;
    left: 50%;
}
.competition-info .title,
.competition-info .description {
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
.competition-info .title{
    font-size: 48px;
}
.competition-info .description{
    font-size: 28px;
}

